* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HOME */
body {
    color: #363636;
}

#banner {
    width: 100%;   
}

.principal {
    background-color: #CCCCCC;
    padding: 30px;
}

.titulo-principal {
    padding-left: 20px;
}

.titulo-centralizado {
    text-align: center;
}

.principal p {
    text-align: center;
}

#missao {
    font-size: 20px;
}

.itens {
    font-style: italic;
}

.beneficios {
    padding: 20px;
}

.lista-beneficios {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imagem-beneficios {
    width: 50%;
}

/* HEADER */
header {
    background-color: #DDDDDD;
    padding: 20px 0;
}

.caixa {
    width: 940px;
    position: relative;
    margin: auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline-block;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: #c78c19;
    text-decoration: underline;
}

/* MAIN */
main {
    width: 940px;
    margin: 0 auto;
}

/* PRODUTOS */
.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1%;
    padding: 30px 20px;
    border: 2px solid #000;
    border-radius: 10px;
    transition: all 0.4s;
}

.produtos li:hover {
    border-color: #c78c19;
    cursor: pointer;
}

.produtos li:active {
    border-color: aquamarine;
}

.produtos li:hover h2 {
    font-size: 34px;
}

.produtos h2 {
    font-size: 30px;
    font-weight: bold;
}

.produto-descricao {
    font-size: 20px;    
}

.produto-preco {
    font-size: 22px;
    font-weight: bold;
    margin: 10px 0 0 ;
}

/* CONTATO */
form {
    margin: 40px 0;
}

fieldset {
    border: none;
}

form label, form legend {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;    
}

.input-padrao {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox {
    margin: 40px 0;
}

.enviar {
    width: 40%;
    padding: 15px 0;
    background: orange;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: all .4s;
}

.enviar:hover {
    background: darkorange;
    cursor: pointer;
    transform: scale(1.2);
}

/* TABELA */
table {
    margin: 20px 0 40px;
}

thead {
    background: #555555;
    color: white;
    font-weight: bold;
}

td, th {
    border: 1px solid #000000;
    padding: 8px 15px;
}

/* FOOTER */
footer {
    text-align: center;
    background: url("bg.jpg");
    padding: 40px 0;
}

.copyright {
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px 0;
}